<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Domain" value="domain.com"/>
    <add key="Container" value="DC=domain,DC=com"/>
    <add key="Admin" value="admin"/>
    <add key="AdminPassword" value="adminPassword"/>
  </appSettings>
</configuration>